mamba create --name gnn270 python=3.12 pip sage -c conda-forge  -y
mamba activate gnn270

pip install torch==2.7.0  --index-url https://download.pytorch.org/whl/cu128
pip install torch_geometric==2.6.1
pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.7.0+cu128.html
pip install yacs ogb networkx torchmetrics rdkit pytorch_lightning lightning hydra-core python-dotenv pyrootutils wandb rich hydra-optuna-sweeper hydra-colorlog ase scikit-learn pandas pyarrow requests rdkit==2025.3.6 e3nn tensorboard
